body{
    margin: 0;
}
h1{
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    
}
h2{
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}
hr{
    border: 0;
    border-top: 1px solid #dcdcde;
    margin: 50px 0;
}
.wrapper{
    margin: 0 auto;
    max-width: 82%;
    position: relative;
}
.wrapper textarea{
    border: 1px solid #ccc;
}
.form1{
    max-width: 330px;
}
.form1 input,
.table_input,
.text_input,
.table2 input,
.table3 input{
    width: 100%;
    padding: 12.5px 17px;
    padding-right: 0;
    margin: 4.5px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
}
.form1 input:focus,
.table_input:focus,
.text_input:focus,
.table select:focus,
.table2 input:focus,
.table3 input:focus{
    border: 0;
    border: 1px solid #3e6aff;
    box-shadow:0 0 2.5px rgba(62,106,255,0.55)
}
.form1_label_select{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #fff;
}
.form1_label_select option:first-child{
    display: none;
}
.form1_label_select select{
    position: relative;
    -webkit-appearance: none;
    z-index: 1;
}
.form1_label_select:before{
    content: "";
    position: absolute;
    right: 14px;
    top: 21px;
    border: 5px solid transparent;
    border-top-color: #000;
    z-index: 0;
}
.form1 select:focus{
    border: 1px solid #3e6aff;
    box-shadow:0 0 2.5px rgba(62,106,255,0.55)
}
.form1 select,
.table select,
.table3 select{
    width: 100%;
    margin: 4.5px 0;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10.8px 14px;
    padding-right: 0;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
    outline: none;
}
.form1 textarea,
.table textarea{
    resize: vertical;
    width: 95.5%;
    height: 130px;
    margin: 4.5px 0;
    padding: 11.5px 14px;
    padding-right: 0;
    padding-bottom: 0;
    border-radius: 3px;
    outline: 0;
    min-height: 29px;
    max-height: 150px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}
.form1 textarea:focus,
.table textarea:focus{
    border: 1px solid #3e6aff;
    box-shadow:0 0 2.5px rgba(62,106,255,0.55)
}
.form1 button,
.table button{
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: #12d661;
    padding: 14px 0;
    width: 100%;
    margin-top: 4.5px;
}
.form1 button:hover,
.table button:hover,
.form6 button:hover,
.buttons button:last-child:hover{
    background-color: #07be51;
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
}
.buttons button:first-child:hover{
    background-color: #85868d;
    color: #fff;
}
.form2_form{
    display: flex;
    justify-content: space-between;
}
.r_style1{
    visibility: hidden;
    position: absolute;
}
.r_style1+label{
    padding: 0 20px;
    position: relative;
}
.r_style1+label:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 50%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.r_style1:disabled+label:before{
    background-color: #f7f7f7;
}
.r_style1:checked+label:before{
    border-color: #3e6aff;
}
.r_style1:checked+label:after{
    content: "";
    position: absolute;
    border: 1px solid #3e6aff;
    background-color: #3e6aff;
    border-radius: 50%;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    left: 4px;
    top: 4px;
}
.radiobutton{
    cursor: pointer;
}
.r_style2{
    visibility: hidden;
    position: absolute;
}
.r_style2+label{
    cursor: pointer;
    padding: 1px 20px;
    padding-right: 5px;
    position: relative;
    display: inline-block;
}
.r_style2+label:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.r_style2:checked+label:before{
    border-color: #3e6aff;
    background-color: #fff;
}
.r_style2:checked+label:after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #3e6aff;
    border-right: 2px solid #3e6aff;
    border-color: #3e6aff;
    box-sizing: border-box;
    width: 4px;
    height: 8px;
    left: 6px;
    top: 3.5px;
    transform: rotate(45deg)
}
.r_style2:disabled+label:before{
    background-color: #f7f7f7;
}
.r_style3{
    visibility: hidden;
    position: absolute;
}
.r_style3+label{
    padding: 5px 70px;
    position: relative;
}
.r_style3+label:before{
    content: "";
    position: absolute;
    width: 46px;
    height: 26px;
    border: 2px solid #ccc;
    border-radius: 12px;
    top: 3px;
    left: 0;
    box-sizing: border-box;
    background-color: #ccc;
}
.r_style3:checked+label:before{
    border-color: #3e6aff;
    background-color: #3e6aff;
}
.r_style3+label:after{
    content: "";
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    left: 2px;
    top: 5px;
    transition: all 0.3s ease;
}  
.r_style3:checked+label:after{
    content: "";
    position: absolute;
    border: 1px solid #fff;
    border-color: #fff;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    left: 22px;
    top: 5px;
    box-shadow: 0 0 2.5px rgba(0,0,0,0.5);
}
/*  */

.r_style4{
    visibility: hidden;
    position: absolute;
}
.r_style4+label{
    padding: 30px 85px;
    position: relative;
}
.r_style4+label:before{
    content: "";
    background: url(../images/men.png) no-repeat;
    position: absolute;
    width: 71px;
    height: 71px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.r_style4:checked+label:before{
    filter: grayscale(0%);
}
.r_style5{
    visibility: hidden;
    position: absolute;
}
.r_style5+label{
    padding: 30px 85px;
    position: relative;
}
.r_style5+label:before{
    content: "";
    background: url(../images/women.png) no-repeat;
    position: absolute;
    width: 71px;
    height: 71px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.r_style5:checked+label:before{
    filter: grayscale(0%);
}
.r_style6{
    visibility: hidden;
    position: absolute;
}
.td_file>label:hover:before{
    background-color: #2857f4;
    box-shadow: 0px 2px 2.5px rgba(15,40,126,0.35);
}

.td_file>label{
    position: relative;
}
.td_file>label:before{
    content: "Виберіть файл";
    width: 171px;
    height: 42px;
    border: 1px solid #3e6aff;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #3e6aff;
    text-align: center;
    color: #fff;
    padding-top: 13px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto" , sans-serif;
    display: inline-block;
    cursor: pointer;
}

/*  */

.form2 ul,
.form3 ul{
    padding-left: 0;
}
.form2 li{
    list-style: none;
    margin: 17px 0;
}
.form2 label{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.form2 .disabled{
    color: #b3b3b3;
}
.form2_form3{
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}
.form2_form3 li,
.form2_form3 p{
    display: inline;
}
.form2_form3 label{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.form2_form3 p{
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    padding-right: 30px;
}
.form2_form3 li{
    margin: 0 12px;
}
.form2_form3 ul{
    margin: 25px 0;
}
.date_input{
    margin-left: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    padding: 12.5px 17px;
    font-family: "Roboto", sans-serif;
}
.date_input:focus{
    border: 1px solid #3e6aff;
    box-shadow:0 0 2.5px rgba(62,106,255,0.55)
}
.form3 li{
    list-style: none;
}
.form3_f1 li{
    margin: 60px 0;
}
.form3_f1 label{
    font-size: 16px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.form3_f2 li{
    margin: 30px 0;
}
.form3_f2 label{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.form3_f2{
    padding-top: 25px;
}
.form3{
    display: flex;
    justify-content: space-between;
    max-width: 680px;
}
.neobhidhi_polya{
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding: 25px 0;
    margin: 0;
}
.table td:first-child{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding: 20px 0;
    padding-top: 18px;
    vertical-align: top;
    padding-bottom: 18px;
}
.table td:last-child{
    width: 341px;
}
.table tr:last-child td:first-child{
    padding-right: 80px;
}
.table2 td,
.table3 td{
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding-right: 9px;
}
.table2 input,
.table3 input{
    padding: 11.5px;
    margin-top: 7px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
.table2 tr td:last-child,
.table3 tr td:last-child{
    padding-right: 0;
}
.table3 tr:first-child td:last-child input{
    width: 94.5%;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
.table_hr{
    width: 100%;
    margin: 30px 0;
    box-sizing: border-box;
}
.table tr:nth-child(4) label{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.table3 select{
    margin-bottom: 19px;
}
.table3 select:focus{
    border: 1px solid #3e6aff;
    box-shadow:0 0 2.5px rgba(62,106,255,0.55)
}
.table3 tr:last-child td{
    padding-top: 20px;
}
.label{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
#accept{
    margin: 25px 10px;
    margin-left: 0;
    margin-bottom: 0;
    width: 17px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    max-width: 711px;
}
.buttons button{
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 13px 25px;
    margin-bottom: 145px;
}
.buttons button:first-child{
    border: 1px solid #85868d;
    background-color: #fff;
    color: #6e6f77;
}
.buttons button:last-child{
    border: 1px solid #12d661;
    background-color: #12d661;
    color: #fff;
}
.f_div{
    position: fixed;
    top: 60px;
    right: 9%;
    width: 300px;
}
.form6 form{
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.15);
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}
.form6 ul{
    padding: 0 25px;
}
.form6 li{
    list-style: none;
    margin: 12px 0;
    /* margin-top: 0; */
}
.form6 label{
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    display: inline-block;
}
.form6 a{
    text-decoration: none;
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.form6 a:hover{
    text-decoration: underline;
}
.form6 .l{
    font-size: 13px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.form6 button{
    cursor: pointer;
    border: 1px solid #12d661;
    border-radius: 3px;
    background-color: #12d661;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding: 13px 0;
    width: 100%;
}
.text_input{
    padding: 9px 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
}
.table_div{
    max-width: 680px;
}
.table2,
.table3{
    width: 100%;
}
/* .form6_check{
    position: absolute;
    visibility: hidden;
    right: 21px;
    top: 65px;
    z-index: 1;
} */
/* .form6_check:checked+.form6{
    display: none;
} */
/* .form6_check:checked{
    display: none;
} */
/* .form6_check+label{
    padding: 0 7px;
    position: relative;
    background-color: #aaa;
}
.form6_check+label:before{
    content: "+";
    position: absolute;
    width: 12px;
    height: 12px;
    font-size: 20px;
    border-color: #b3b3b3;
    transform: rotate(45deg);
} */
.form6_check{
    visibility: hidden;
    position: absolute;
}
.form6_check+label{
    padding: 0 7px;
    position: absolute;
    top: 65px;
    right: 13px;

    /* position: relative; */
}
.form6_check+label:before{
    content: "+";
    position: absolute;
    width: 12px;
    height: 12px;
    font-size: 20px;
    color: #b3b3b3;
    transform: rotate(45deg);
    z-index: 1;
}
.form6_check:checked+label:before{
    display: none;
}
.form6_check:checked{
    display: none;
}
.form6_check:checked~.form6{
    display: none;
}
.form6_check+label:hover:before{
    cursor: pointer;
    color: #949494;
}
